.layout {
    display: grid;
    grid-template-columns: auto 2fr 260px;
    background-color: var(--c-primary);
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px ;
    min-height: 100vh;

    @media (--t) {
        max-with:1270px;
        grid-template-columns: auto 2fr ;
    }
}

